/* Main Elements */
html { overflow: auto; }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    overflow: hidden;
}

.bg-w { background-color: white; }

.bg-b { background-color: rgb(35, 35, 35); }

a {
    text-decoration: none;
    color: black;
    
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover { 
    text-decoration: none;
    color: rgb(76, 76, 76); 
}

li {
    line-height: 1.5vh;
    letter-spacing: 0.1vw;
    list-style-type: none;
}

li a {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
}

span {
    font-size: 16px;
    word-spacing: 2px;
    line-height: 30px;
}

button {
    background-color: rgb(105, 105, 105);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input, button {
    border: 2px solid black;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    margin: 10px;
}

/* Navigation Bar */
#navbar {
    overflow: auto;
    background-color: white;
    height: 60px;
    position: fixed;
    top: -75px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1000;
}

#navbar li { float: left; }

#navbar-left-align { margin-left: 30px; }

#navbar-right-align { margin-left: 70%; }

.nav-img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.nav-btn {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    margin-top: 10px;
    visibility: hidden;
    border-radius: 4px;
    font-size: 26px;
    float: right;
    width: 40px;
    height: 40px;
}

/* Landing Page */
.landing-img {
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.landing-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Resume */
#Resume { width: 100%; }

.info-box {
    background-color: rgb(81, 80, 80);
    border-radius: 3px;
    padding: 1.5vh;
    margin-bottom: 50px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.info-box:hover { box-shadow: 0px 3px 6px rgb(81, 81, 81); }

/* Skills */
.progress { 
    background: rgb(35, 35, 35);
    margin-bottom: 1.5vh;
}

.progress-bar { background: rgb(41, 175, 223); }

/* Blog */
#Blog {
    color: rgb(35, 35, 35);
    background-color: white;
}

.b-posts {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.b-box {
    margin-bottom: 50px;
    background: rgb(35, 35, 35);
    height: auto;
    max-width: 350px;
    margin-left: 12px;
    display: inline-block;
}

.b-box p {
    text-align: left;
    margin-left: 10px;
}

.b-box p, span { color: white; }

.b-box:hover{ background-color: black; }

.b-image {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

/* Contact */
.contact-text a {
    font-size: 20px;
    color: white;
    text-decoration: underline;
    display: block;
}

.contact-phone {
    width: 4%;
    height: 4%;
}

.contact-email {
    width: 5%;
    height: 5%;
}

/* Posts */
#Post {
    color: black;
}

#Post span { color: black }

#Post h3 { margin: 0; }

.b-post { color: black; }

#Post .info-box {
    margin: 2vw;
    min-height: 6.5in;
    background-color: white;
    border: white;
    box-shadow: 0px 3px 6px rgb(142, 141, 141);
}

#Post .info-box:hover { box-shadow: 0px 3px 6px rgb(32, 32, 32); }

#Post .info-box span { color: black; }

#Post a { color: blue; }

/* Login */
.login {
    color: black;
    margin-left: 25px;
}

/* Dashboard */
.dashboard {
    width: fit-content;
    height: fit-content;
}

@media only screen and (max-width: 1500px) { 
    #navbar-right-align { margin-left: 65vw; }
}

/* Mobile Support */
@media only screen and (max-width: 1200px) {
    
    h1, h2, h3, h4, h5, h6 { font-size: 4vw; }

    p { font-size: 3vw; }

    span, li, a, label {
        font-size: 2.5vw;
        margin-bottom: 10px;
    }

    #navbar { margin: 0; }

    #navbar-left-align { margin: 0; }
    
    #navbar-right-align { margin-top: 10vw; margin-left: 0; display: inline-block; visibility: hidden; }

    .nav-btn { visibility: visible; float: right; margin-right: 5px;}

    .nav-img {
        width: 10vw;
        height: 10vw;
        margin-top: 2vh;
    }

    .landing-img { object-fit: cover; }

    #Blog { 
        height: 90vw; 
        margin-top: 20vw; 
        height: 82vw;
    }

    .b-image {
        width: 40vw;
        height: 35vw;
    }

    .b-box { margin: 1vw; }

    .b-image {
        width: 45vw;
        height: 25vh;
    }

    #Contact a {
        font-size: 14px;
    }
    
    .contact-phone {
        width: 5vw;
        height: 6vw;
    }
    
    .contact-email {
        width: 5vw;
        height: 4vw;
        margin: 2px;
    }
}