<!DOCTYPE html>
<html>
    <head>
	<title>{{ post.title }}</title>
        <meta name="viewport" content="width=device-with, initial-scale=1">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body class="bg-w">
	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}

        <!--SECTION: BLOG POST-->
        <section id="Post" >
            <div class="b-post info-box">
                <h3>{{ post.title }}</h3>
                <span>{{ moment(post.timestamp).format('LL') }}</span>
                <img class="post-img" src="{{ url_for('static', filename='images/uploads/{}.jpg'.format(post.id)) }}">
                <p style="float:inline-start">{{ post.body|safe }}</p>
            </div>
        </section>
    </body>
</html>