{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html>
    <head>
	<title>Luka Lelovic</title>
        <meta name="viewport" content="width=device-with, initial-scale=1">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body class="bg-b">
	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}

        <!--SECTION: NAVBAR-->
        <div id="navbar">
            <div id="navbar-left-align">
                <ul><li><a href="#Home">Luka Lelovic</a></li></ul>
		<button onclick="dropDown()" class="nav-btn">=</button>
            </div>
            <div id="navbar-right-align">
                <ul>
                    <li><a href="#Resume">Resume</a></li>
                    <li><a href="#Blog">Blog</a></li>
                    <li><a href="#Contact">Contact</a></li>
                    <a href="https://github.com/lukalelovic">
                        <img class="nav-img" src="{{ url_for('static', filename='images/github.png') }}">
                    </a>
                </ul>
            </div>
        </div>

        <!--SECTION: HOME-->
        <section id="Home">
            <div class="container">
                <img src="{{ url_for('static', filename='images/river.jpg') }}" class="landing-img" alt='river'> 
                <div class="landing-title">
                    <h1>Luka Lelovic</h1>
                    <p>Aspiring computer science major + developer building software and web applications through carefully crafted code.</p>
                </div>
            </div>
        </section>

        <!--SECTION: ABOUT-->
        <section id="Resume">
            <div class="section-title">
                <h2>MY RESUME</h2>
            </div>
            <div class="align-left">
                <p>My Experience</p>
                <div class="info-box">
                    <p>Internship | Apothewell | September 2019 - Present</p>
                    <span>Deployed web applications using Python, Flask, HTML, AWS, NGINX, and SQLite3 (including this website).</span>
                </div>
            </div>
            <div class="align-right">
                <p>My Education</p>
                <div class="info-box">
                    <p>Little Rock Central High School | August 2016 - May 2020</p>
                    <span>Completed a total of 9 Advanced Placement courses including AP Computer Science A, AP Physics, and AP Statistics</span>
                </div>
            </div>
            <div class="align-left">
                <p>Software Skills</p>
                <div class="info-box left-info">
                    <li>Emacs 
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 30%;"></div>
                        </div>
                    </li>
                    <li>Photoshop 
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 36%;"></div>
                        </div>
                    </li>
                    <li>Unity 3d
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 40%;"></div>
                        </div>
                    </li>
                    <li>PuTTy & WinSCP
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 34%;"></div>
                        </div>
                    </li>
                    <br>
                </div>
            </div>
            <div class="align-right">
                <p>Coding Skills</p>
                <div class="info-box left-info">
                    <li>Java
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 34%;"></div>
                        </div>
                    </li>
                    <li>C#
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 28%;"></div>
                        </div>
                    </li>
                    <li>Python
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 40%;"></div>
                        </div>
                    </li>
                    <li>HTML
                        <div class="progress-back back-left">
                            <div class="progress-bar" style="width: 33%;"></div>
                        </div>
                    </li>
                    <br>
                </div>
            </div>
        </section>

        <!--SECTION: BLOG-->
        <section id="Blog">
            <div class="section-title">
                <br>
                <h2>MY BLOG</h2>
            </div>
            <div class="b-posts">
		{% for post in posts %}
                <a href="{{ url_for('post', id=post.id) }}" class="b-box">
                    <img src="{{ url_for('static', filename='images/uploads/{}.jpg'.format(post.id)) }}" class="b-image">
                    <p>{{ post.title }}</p>
                    <span>{{ moment(post.timestamp).format('LL') }}</span>
                </a>
		{% endfor %}
            </div>
        </section>
        
        <!--SECTION: CONTACT-->
        <section id="Contact">
            <div class="section-title">
                <br>
                <h2>Contact</h2>
            </div>
            <div class="align-left">
		<p>Get In Touch</p>
                <div class="info-box contact-text">
                    <img class="contact-phone" src="{{ url_for('static', filename='images/phone.png') }}">
                    <a href="tel:5014102365">+501 410 2365</a>
                    <p>Call Me</p>
                </div>
            </div>
            <div class="align-right">
		<p style="visibility: hidden;">...</p>
                <div class="info-box contact-text">
                    <img class="contact-email" src="{{ url_for('static', filename='images/mail.png') }}">
                    <a href="mailto:lukalelovic@gmail.com">lukalelovic@gmail.com</a>
                    <p>Email Me</p>
                </div>
            </div>
        </section>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
