<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-with, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link href="main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
        <h6>h6</h6>
        <p>p tag</p>
        <span>span Tag</span>
        <li>List</li>

        <form>
            <label for="fname">Test Input</label>
            <div>
                <input type="text" id="fname" name="firstname" placeholder="Your input...">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>